---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCardRow from '@/components/PostCards/PostCardRow';
import Avatar from '@/components/Avatar/Avatar';
import PostCard from '@/components/PostCard';
import CategoryList from '@/components/CategoryList/CategoryList'

let allPosts = await getCollection('posts');
allPosts.sort((a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf());
---

<BaseLayout>
    <div class="flex flex-col sm:flex-col md:flex-row items-center gap-6 mt-6 mb-10">
      <Avatar src='https://avatars.githubusercontent.com/u/30505612?v=4'/>  

      <div>
        <h1 class="m-0 text-center sm:text-center md:text-left">Tech blog to explore the World of Frontend Development ⚛</h1>
        <span class="flex justify-center md:justify-start">develjuanma</span>
      </div>
    </div>

    <CategoryList/>

    {allPosts.slice(0, 1).map((post) => (
      <PostCard post={post} isSpecialCard={true}/>
    ))}
    <div class={'mt-4 mb-4 flex flex-col gap-2'}>
      {allPosts.slice(1, 6).map((post) => (
        <PostCardRow post={post}/>
      ))}
      <a href="#" class="text-sky-400 hover:text-sky-600">Ver todos los posts</a>
    </div>
</BaseLayout>