---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.css';

const { 
  entry,
  pageTitle = 'develjuanma | Tech blog to explore the World of Web Development', 
  description = 'Articles, tutorials, and resources on Frontend, JavaScript, React, CSS, and Web Performance Improvement. Join me on this technological journey', 
  cover = '/open-graph.webp' 
} = Astro.props;
---

<html lang='en'>
  <head>
    <!--Global Metadata -->
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{pageTitle}</title>
    <meta name='description' content={description} />

   <!-- Open Graph -->
   <meta name="twitter:card" content="summary_large_image">
   <meta property="og:url" content={`https://visvrs.vercel.app/${entry?.slug || ''}`}>
   <meta property="og:type" content="article">
   <meta property="og:title" content={entry?.title || pageTitle}>
   <meta property="og:description" content={entry?.description || pageTitle}>
   <meta property="og:image" content={`https://visvrs.vercel.app${cover.src || cover}`}>

    <!-- Sitemap -->
    <link rel='sitemap' href='/sitemap-index.xml' />

    <title>{pageTitle}</title>

    <ViewTransitions />
  </head>
  <body class='mx-auto prose prose-neutral px-4 dark:prose-invert dark:bg-neutral-900 lg:max-w-screen-lg'>
  <Header />
    <slot />
    <Footer />
  </body>
</html>
